@model Kohviautomaat.Models.Joogid

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Joogid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jooginimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jooginimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.topsepakis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topsepakis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.topsejuua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topsejuua)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
