@model IEnumerable<Kohviautomaat.Models.JoogidViewModel>


@{
    ViewBag.Title = "Haldusleht";
}

<h2>Haldusleht</h2>

<p>
    @Html.ActionLink("Lisa Uus Jook", "LisaJook")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.jooginimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topsepakis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topsejuua)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.jooginimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.topsepakis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.topsejuua)
            </td>
            <td>
                @Html.ActionLink("Muuda", "Muuda", new { id = item.id }) |
                @Html.ActionLink("Detailid", "Detailid", new { id = item.id }) |
                @Html.ActionLink("Kustuta", "Kustuta", new { id = item.id })
            </td>
        </tr>
    }

</table>
